/* Contenedor principal del NavBar */
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #4a154b;
}

/* Estilo para el logo */
.logo {
    display: flex;
    align-items: center;
}

.logoImage {
    width: 55px;
    height: 40px;
}

/* Barra de búsqueda */
.searchContainer {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    width: 300px;
}

.searchIcon {
    font-size: 1.2rem;
    color: #333;
    margin-right: 0.5rem;
}

.searchInput {
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: #333;
    width: 100%;
}

/* Links del menú */
.navLinks {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navLink {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 0 0.5rem;
}

.navLink:hover {
    color: #4a154b; /* Color hover */
    text-decoration: underline;
}

/* Separador entre links */
.navLinks li + li::before {
    content: "|";
    color: #ccc;
    margin-right: 0.5rem;
}

/* Botón de inicio de sesión */
.loginButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #d1c1d7;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    background-color: #b392c9;
}

.separator {
    width: 2px;
    height: 40px;
    background-color: black;
    margin: 0 1rem;
}
