.contenedor {
  max-width: 1100px;
  padding: 20px;
  background-color: white;
}

.loading {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.detalleProducto {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background-color: #e4e4e4;
  padding: 20px;
  border-radius: 10px;
}

.imagenProducto {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.infoProducto {
  flex: 1;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px;
  color: #000000;

}

.precio {
  font-size: 22px;
  color: #000000;
  margin-bottom: 10px;
  margin-left: 5px;

}

.descripcion {
  font-size: 16px;
  color: #3e3c3c;
  line-height: 1.5;
  margin-left: 5px;

}

.masArticulos {
  margin-top: 40px;
}

.tituloMasArticulos {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000000;

}

.listaProductos {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
}

.itemProducto {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 180px;
  background-color: #e4e4e4;
  transition: transform 0.2s ease-in-out;
}

.itemProducto:hover {
  transform: scale(1.05);
}

.imagenMiniatura {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.nombreProducto {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  color: #000000;
}

.precioProducto {
  font-size: 14px;
  color: #000000;
}
