.container {
    display: flex;
    min-height: 100vh;
  }
  

.mainContent {
    flex-grow: 1;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
}

.sidebar {
    width: 150px;
    padding: 1rem;
    background-color: #dedede;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .shippingInfo {
    margin-bottom: 1rem;
    color:#000000
  }
  
  .location {
    font-weight: bold;
    color: #000000; /* Púrpura */
  }
  
.botonIg {
  padding: "10px 20px";
  font-size: "10x";
  background-color: #4a154b;
  color: "white";
  border: "none";
  border-radius: "5px";
  cursor: "pointer";
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #000;
}

  .categories {
    margin-bottom: 2rem;
    color:#000000
  }
  
  .categories h3 {
    margin-bottom: 1rem;
  }
  
  .categories ul {
    list-style: none;
    padding: 0px;
  }
  
  .categories li {
    margin-bottom: 0.5rem;
  }
  
  .categories input {
    margin-right: 0.5rem;
  }
  
  .mainContent {
    flex-grow: 1;
    padding: 2rem;
  }
  
  .section {
    margin-bottom: 2rem;
  }
  
  .section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #000000;
  }

  .section p {
    color: #000000;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 1rem;
  }
  

  .card {
    background-color: #e4e4e4;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }

  .fotoProducto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 9px;
  }

  .nombreProducto {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
  }
  
  .precioProducto {
    font-size: 1rem;
    font-weight: bold;
    color: #6a008a;
  }
  
.error {
  background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    width: 80%;
    margin: 1rem auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}